.App {
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App > .title {
  position: absolute;
  top: 5em;
  text-align: center;
}

.App > .footer {
  position: absolute;
  bottom: 5em;
  text-align: center;
}

.form {
  max-width: 700px;
}
